<div id="divWeatherMain"> 
    <div class="leftContent">
        <div class="weatherWidgetRow" style="font-size: 30px;margin-top: 5px;">{{WeatherData.temp_celcius}}°</div>
        <div class="weatherWidgetRow" style="font-size: 22px;margin-top: 26px;">{{WeatherData.name}}</div>
    </div>

    <div class="middleContent">
    <div class="weatherWidgetRow" style="font-size: 14px;">Weather: {{WeatherData.status}}</div>
    <div class="weatherWidgetRow" style="font-size: 14px; margin-top: 8px;">Feels Like: {{WeatherData.temp_feels_like}}°</div>
    <div class="weatherWidgetRow" style="font-size: 14px; margin-top: 8px;">Humidity: {{WeatherData.humidity}}%</div>
    </div>

</div>