#backgroundPic{
    background-image: url('../../assets/images/day.jpg');
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size:cover;
    background-position: center;
}

#logoContainer{
    height: 10%;
    width: 10%;
    margin-top: 1%;
    margin-left: 2%;
}

.logOut{
    margin-top: 1.5%;
    margin-right: 2%;
    width: 10%;
    font-size:1.5rem;
}

.fa-right-from-bracket{
    color:rgb(255, 255, 255);
}

#upperContainer {
    display: flex;
    height: 35%;
    margin-top: 0.5%;
    max-width: 95%; 
  }
  
.latlong {
    display: flex;
    flex: 1;
    margin-left: 10px;
    /* background-color: rgba(255, 255, 255, 0.712); */
    box-shadow: 0px 5px 10px rgba(0, 3, 45, 0.338);
    border-radius: 15px;
    width: 60%;
  }

  .latlongLeft, .latlongRight{
    border-radius: 0%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .latlongLeft{
    flex: 1;
    margin-top: 2px;
  }

  .latlongRight{
    flex: 1.8;
  }

  form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 31px;
    height: 100%
}

input{
    background-color: #eee;
    border: none;
    margin: 6px 0;
    padding: 5px 15px;
    font-size: 10px;
    border-radius: 6px;
    width: 100%;
    outline: none;
}

#searchBtn{
    background-color: #ffffff3f;
    color: #fff;
    font-size: 17px;
    padding: 7px 9px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 8px;
    font-weight: 600;
    margin-top: 10px;
    cursor: pointer;
}

.colombo{
    /* background-color: rgba(255, 255, 255, 0.712); */
    border-radius: 15px;
    box-shadow: 0px 5px 10px rgba(0, 3, 45, 0.338);
    width: 40%;
}

.col{
    position: relative;
    background-color: rgba(255, 255, 255, 0.788);
    margin-left: 10px;
    height: 210px;
    border-radius: 20px;
    padding: 1%;
    padding-top: 0.5%;
}

.carousel-item{
    max-width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.container{
    position: flex;
    max-width: 100%;
    max-height: 100%;
}

h3{
    color: #130032cb;
    text-align: center;
    font-size: 18px;
    font-weight: 450;
    margin-bottom: 0.5%;
}

.topContainer{
    display: flex;
}

.greet{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 22px;
    font-weight: 500;
    color: #ffffff;
}

.fa-bounce{
    margin-right: 10px;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
  }

button{
    background-color: transparent;
    color: #0b001b;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    text-transform: uppercase;
    cursor: pointer;
}

.bottomContainer{
    padding-top: 5px;
    position: absolute;
    background-image: linear-gradient(to bottom, #ffffff73, #ffffff00);
    margin-top: 30%;
    bottom: 32px;
}

#view{
    font-size: 11px;
    font-weight: 550;
}

.dayNumber{
    font-weight: 500;
    font-size: 11px;
    text-align: center;
    padding-left: 10px;
    margin-top: 0%;
    margin-bottom: 2px;
}




