<div id="divWeatherMain"> 
    <div class="leftContent">
        <div class="weatherWidgetRow" style="font-size: 40px;margin-top: 5px;">{{WeatherData.temp_celcius}}°</div>
        <div class="weatherWidgetRow" style="font-size: 30px;margin-top: 40px;">{{WeatherData.name}}</div>
    </div>

    <div class="middleContent">
    <div class="weatherWidgetRow" style="font-size: 18px;">Weather: {{WeatherData.status}}</div>
    <div class="weatherWidgetRow" style="font-size: 18px; margin-top: 15px;">Feels Like: {{WeatherData.temp_feels_like}}°</div>
    <div class="weatherWidgetRow" style="font-size: 18px; margin-top: 15px;">Humidity: {{WeatherData.current.humidity}}%</div>
    </div>

    <div class="rightContent">
        @if(WeatherData.isDay){
        <div>
            <i class="fas fa-3x fa-sun sun"></i>  
        </div>      
        }@else{
        <div>
            <i class="fas fa-3x fa-moon moon"></i>  
        </div> 
        }  
        <div class="weatherWidgetRow cloudDiv">
            <i class="fas fa-cloud fa-3x cloud"></i>
        </div>
    </div>
</div>